<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>

        <style>
            .fullpage{
                background-color:hsl(0, 67%, 48%);
            }
            .content{
background-color: white;

padding: 25px;

            }
            .days{

                font-family: monospace;   
                color:hsl(0, 67%, 48%); 
                display: inline;            
                font-size:40px;
            }
            .dayss{
                font-family: monospace;
                color:gray;
                font-size: 28px;
            }
            .events{
                font-size: x-large;
                font-family:Verdana, Geneva, Tahoma, sans-serif;

text-align: left;
            }
            .completesss{
                text-decoration: line-through;
            }
            .button{
            background-color:hsl(0, 67%, 48%);
            color: white;
            border: 0px;
            height: 30px;
            cursor:pointer;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            .scroll{
            overflow-y:scroll;
                height: 280px;
            }
            .dayse{
                font-family: monospace;
                font-size: x-large;
                float:right;
                color: gray;
            }
          .final{
              color: gray;
              text-align: right;
          }
  .github
  {

  
      font-size:45px;
      text-decoration: none;
  }
 

        </style>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Todo Events</title>
<link rel="shortcut icon" type="image/jpg" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAQIklEQVR4Xu1daZRUxRX+qrune7pnASEgoDgDA8hOFFAQJYjiLgox7iF4HFBjojkxihEjQR0jUbIYjQJD5BAXMIrBLSqyiCgQQcPusA/IIjgDDMz0dE93v5z7sHFoe/q9eku9annvnPkxp9+runXvV/feunXrFoPG037KVyUen783SyT6wMMGQMFAAIVa37m/O8KBGjAsRUJZpng8qxKx6Oqdt528JRMl
rKkf2884WOKNJcoAXOfIUNxOreLA7LjPM37n6OZpgZAWAEXTqsczxh4CFL9VVLjtOMkBFlUU5eHKMS1oQh/3fAcAReXVaxjQ00ly3b7t4YACrK0sbdGrcevHAaB4etV8KGyoPd27rUrBAaYs2H5rywuStBwDQIep+4crHu9cKYh0ibCVAywRv2rb2FZvUCcqAEpmHm4dj0S3g7GgrT27jcvBAUUJewP+4i2jCvapACgqPzCNQSmVgzqXChEcUMDKK0tPGsM6Tq3pkvDEKkR06vYhFwc8Cd/prPgf1TcggZfkIs2lRggHPLiRdZh+4ElFUe4R0qHbiVQcYIxNZsXl1QsBDJGKMpcYURxY
RACoAVAgqke3H6k4cJgAoEhFkkuMUA64ABDKbvk6cwEgn0yEUuQCQCi75evMBYB8MhFKkQsAoeyWrzMXAPLJRChFLgCEslu+zlwAyCcToRS5ADDB7t6tfChp5jnWQn0MWLyrAbUN2RNbkxoAnZt70a+ND31aeeH3MHgY4GVAQwI40qDg070xLNgpjuEXF+VgROcA+rb2onnAA9+3sj8GAhI9AaCiOo5XN0UxqyJiAmL2fyoVAPJyGG44PYDLOuSg80le0P9N5q1/wxsCw4aqGF6usI/ZY3rl4qauAZxW6NGkp7HICAw7ahJ4dlU9Zm+UEwhSAKBNngfj+gVxwWk5KPBriTz9rCBmr6uKo2x5
HZbtiVkydUgDTRgYxIC2OarmMfoQSOdsiuD+JXVGm7DtO0cBQDP83n5BjOzkNyz4VM5UhRX8cUUYr5iccUNOzcGEgSEUF6bR8wbEEVeAuVuiuOfDWgNf2/eJYwA4o7UPDw0Iok8rH5da1cOKgxEFT64I48UvjKldmvlPnZ+Hri28errT/U4krqB8bUSlTZbHEQBc2yWA+/oF0TJoQq9qcHDn4QTuXlSLz/fxmQPSSlMuzMM57XIsByaRvKc2gd8srsUnu/nosgswwgFAztR9/YMoNGjr9TKCfIIFOxpQOu+I3k/U98afHcTo7rlpPXyuhpp4meh6Z1sUv1gghykQCgCyq384NwRy+kQ8dTEFT6wIY8Y6faaAzNLfzs/DKfn20vd1OIF7F9dh0ZcNItiQsQ9hAC
DVOuPifPQ72Sd00BQruPbtw7r6fHRQSF2GUrzBziehAC9XRPDgx86vCoQB4I4+ubjrjFzkmllPGZBKXYOCxz8N458bMmsBAuicKwvQ5SR+x4+czuV7Ywh4gf4n+9T4hdaztiqOK/9N6ZjOPsIA8MrlBejfRuzsJ9aSzX1zS1R1CDM9l3Xwo2xQCM0D2sJr3E6qmdHr49ByddySWszf4awZEAIAEvxTQ/J02/5YAqAlU8DLLHHGNh6IY+Sbh
zPG6H99ZhC398lFDqf5r6xJ4Jb3j2DbofgxXEy/KB9D2+dkBFw0DjyzKoynPq93VAUIAcCITn48ck5IUzXSrJixvh7Pr4uowiJnccKAEC48LccUEEhFj/+4TvW+m3oePy+E67oEuIWx6WAcF712vCrXCyYKD9//kbN+gBAAaDGE1DQ5a2Sr063by4flY+hpxtflembbtGH5KtB4n3QAuKrkKOC1wtof747h5v/oc1B56dL7vuMAqI8reKUiqoZvm9pGJYZOHBhCM077nGQCed0vbIhgwtKmZ9sLlxZgUDt+HyUdAM5p58PkH+WhTSizPak4EMclc5x1BIUA4LbeufjVmd9dAewPJ1QbSMLRel69ogB9TSwhtdStUQDsrU3grkW1qgZLPnoBkA48Wnyw+nchAKAAy1+H5KF9wdEZQbtjy/Y04JFlYRAT9DxPDs7Djzsbr1mlBQAKAF3Rkb99ykuYuLRO3fvnBcCXRxK4c0EtVu
93LiwsBADEmAFtfbi02I/Kmjg+2hXTLfgkU7X8CC0QaQHAqBOYLqijVwPsrUuou4NO7gsIA4CWgLR+H9U9gHH9gwj5+NbpyXa1AHBP3yDIVPEuA6n97TUJjJ135BioXQBoSdPA73qXkk01rQUAMwBL3et3AWBAwFqfmAEALTNnfRHBAxli73qF1hSdNVEFf/7s6MaT3rZSTcDgU3NwY9cAigo8qjaheAjvdrYWH1N/zxoTYAYA5HQ+t6oef/oscyLGm1cXomdL/r2AJFMPRxU8s6oemw/GMencPM18hyQAth5K4IGzgrik2H+cCSLn8Ko37I0TZA0AzKhoitdP+jSMmeszLzcp1nBzN3O7gRTG3lAdR6fmHgQ1/JUtB+OYuzWKn3XLTQsWEcvErAGAmVUAzczffVKn5uRleihf4YnBIfwgyLkhwKt3v3mfVhCMfVOsMU0bLgAaMeWxQSFc3zVgKE2LZ7llNuxsEAtpP/toVwNGvcuX
0cTbf9ZoAKOxemIIT8iVDn+UDdK237yM5n2fTEn52nrVdNn5ZA0AzISCeWcS+QI3dQuYOgtgVmi7jiTwy4X8Sa28/WYFAOgM3jND83CqgVw9PRtBqUyzOzNYS0gUV3hRY/NKqw29v2cFAIxm6xATKCVs4jL+gyJ2nQ3QEgzFLD7Z3YDbPqgVcsg0KwBAuYR39gnCb2CJnm63TksIyd9pE4vSxOiAiLEAtN6ejr5Hwv+iOo67F9Zy75Xw9fTt21kBADM7gSu/iuGat4wHU6zKStISEKl98lV+u6QOBFpRT1YAwGiEjmbUvzZGMM6CtCtKF6PMZt4TwnoESalw5PE/t1p8fqD0ANAbV0/HaMo2+stn9ZhiIWPpqPg1nf3o2MxrKk+R6KWZPmdzFH9fVS/E3qfjkfQAMBMCtjP1mpzE4SV+Nc+BThAX+j3cPorWDqUe7WH2HekBYCYCyBMAMstI+p6Wj6O7B/DzH+Zq5i3o3aCygq5MbUgPADMBoLe2RtVgishH756FnkxlEXRLDQAzASCnZpje1DLKgKYNqtc3Z96gshsEUgNAVvufSSgvXVaAgW2108v1HFaxW/jUvtQAMLM/r+c4mNUMJh9g7vAClDTXjljx7FBa
TWfj9qQGgBn7/8GOBozhLA5hltFU5EpPJhD1I2KvX894pAWAWftPa//JK+3dSk1lcFMHYNIJ4oQ7Hq4HjY3fMWP/nbKvPEtW3i1qXv7pfV9aDWDG/qc7sq2XIWbe4zFZMgSBpHYCeZiZKjQnZhePyXJqiZo1oWAeZqYOilKpnl9Xj8f+K9b+85gsozkKZrRTU99KaQJ4mJk6MKeYO+m8EH7SRV/S6j46E7i4Dkt2OVseRloTwONMpQLATAKI0RlG6//Zlxegh85DJXQegA58yFBWXkoNYMb+m00AMQIC3pS1pXtiuPEd40kqRmjMGhNgZv+fBvnapqhailXkw1NfUM85RZG0S6cBzNh/J3bYeNW/HUkqZgAjHQB4nKnUgTsRAPpptwDup7oFOopDEr12JqkYAYJ0ADCa/0eDdyIARKVvrizx684aliUEnASLVAAwa/9FO4C89FqZpGpktksfCOLZTEk3GNEZQDzOH9Gr95i6VcLV045UGsCM/RcdAUytfKaH2U6YKC26pAKAmfW/aO/ayAFS0RpKS/hSRQJ5C0qnDk5kjh2v7VfVv86y9XqEZuU70mgAukdowgD9y6lUJoiMrxspIrH1UByl82qPqypupSCNtiUNAKhI0i
09jN/VIyrHbnSPgHrVHU+9QpluCEkFijQAMFMBhAYlAgBGHD+i7VBEUQtVa9UoMjqLzXwnDQDeHVmI0w1c15IcvN0AMFM0gufeIjPCNPKtFAAw6wCK0ABU/p3K1vNeeUQ3n1BFdDoAKuMjBQDOPSUHkweH0Fqjvn4mBtqpASjWT7afrrDhfeh84h3z5XP+pAoFG1lWpQpCby1AXgGaEb6oSl+8Y2r8vhQawAoAWK1qyebT3cYjOgUMVRAnJqdWETcjKLu+/d4AgBhklbNF3j7NfPJN+JX+UVHR7KcLsMqWi01O5QWKFADo0MyL5y/KR5HJq9qtuJ379t65KO2ZvnYvD3Nlt/1S+QBEjNllYHJA5AtMXVOPp//H53VTNXIq/2JFRTDalyDP/1lJPX/pfAAiaOYl+TjvFP5r29LNSqq4ReXWZlVE1PP3TWXfUnFoWtqd3dan3lFoVN03poH2/Cnd2+4avzzaKNO7UpgAItDMUbBMAyRbTADYF04gngC8HqB18GgpdyN1B7UYT2npVOpNhpvBtWil36UBAFXemjAwhHyduXV6Bif6Hd7r6kXTl64/aQBAjmD5sDy1/Fo2Pqn3BmXLGKQBADHMTEaQkwwn4b9fGcW9i+ukOO3DwwupACD6xg4eRjX1btLpo3CvDEe9eMckFQCI+KeH5oGOWlnhkfMyg/d9mvkfftmAuxZmp/ClcgKTzDe6584rPLPv0xn/1zdH8PCypi+9NtuHiO+l0wA06Ju6BnBf/yAK/XLqAUrweHa1tTWIRQhb6lVAKnF0lWtprwByDWzB2sVMs
vfrquIoW16HZXucu/DZyvFJqQGSA6SDInf0zkWzgPOagM70vVwREV55zEphZ5UGSBI7rCgHD5wVUjeKnIABefbzKhswaUVY6EUOdgs+2b7UGiBJJO3NUybu1SV+IdqAVP3uIwm8vS2q3t8r8gYPUYLPKgAkiaUNm1t6BHB5Bz/a5VurEUjo1WEFK/bF8PqmCN6rdL5+jwgwZIUGSMcIqiR2bRc/zmrjQ7s8j3o+X6+JIGGHYwq+DivYfCCuCv2DygZhFzWJEKzePrIWAOkGOLR9jmoi6NBGr1Ze+D0M0YSCNfvj6slcOqCxvip+Qgq6KUB8rwCgF/Xue99ywAXACY4GFwAuAKrJJ3KfE5QDrgY4QQWflXGAE1xWtgzf1QC2sDV7GnUBkD2ysoVSAsAhAIW2tO42KjsHaljx9Op3oeBi2Sl16bOBAwzvseJpVb8HYxNsaN5tUnYOKMpEVjT9wAimKHNkp9Wlz3oOKIyNZO2nfFXi9eZstr55t0XZORCPN3RSd1CLy6tnAbhOdoJd+izlwOztpS2uVwHQfsbBEm9MWQ8ofku7cBuTlAMsGvex7jtHN99yLIeiaFr1eMbwqKQUu2RZyAFFwYOVY1qUUZPHJdEUlVevYUBPC/tym5KMAwqwtr
K0Ra8kWd/JoiqeXjUfChsqGd0uOVZwgCkLtt/a8oLGTaVNo+swdf9whXlmgbGgFf26bTjMAUUJMyVx/baxrd5IpaTJPMqSmYdbx6KxMgal1GHy3e5NcEABK/f5feO3jCrYl64Z
zUTajlNruiR8sb5MYX0VRekLgP4KTNDkfmofB+g2ypWMsZUKU1Z6Yr6VW8cWbszU3f8BkSbAO2uq4HAAAAAASUVORK5CYII=">
</head>
    <source  id="class" src="https://www.freesoundeffects.com/free-track/applause8-426813/">
    <body class="fullpage">
                   <div class="content" style="width: 45%; height:80%;  margin: auto    ; border-radius: 15px;" >
            <div  id="next">
                <h1 class="days" >{{weekday}}</h1>
                <h1 v-if="lists.length  " class="dayse">{{lists.length}}  task</h1>
                <h1 class= 'dayss'>{{month}}</h1>
                <button v-on:click= "clearfunction()" style="float: right; " class="button" v-on:click="reset.count">Clear    </button>
                
                  <br> 
<br>    
<hr>
<i class="el-icon-plus"  style=" font-size:30px;color: gray; display: inline;"></i>

                  <input  style=" width:90%; height:8% ;font-size: xx-large;border: 0px    ; " placeholder=" enter the event" v-model="message" @keyup.enter="submit($event)"v-on:keyup.enter="func()">                                                               
                  <hr> 


          <div style="margin: auto; ">
            <div class="scroll">
                <p v-if="lists.length==0"    style=" font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: xx-large; text-align: center;margin-top: 90px; color: grey;">Enter and complete the Event<br>to see the magic</p>

                   <ul v-for="(list,index) in lists">
               <span  class="events" v-bind:class="{'completesss':list.lines}">


                <input type="checkbox" style="width: 25px;height: 25px;" class="check" v-on:change="completed(list)">

            <p style="display: inline;" class="final"> {{list.title}}</p>
           
           <p style="display: inline; position: relative; left: 60px;"class="final">{{ list.time }}</p>
           <img v-on:click="clears()" style="float: right; position: relative;top: 7px;" width="33px" height="33px" src="https://img.icons8.com/plasticine/100/000000/filled-trash.png"/>
               </span>
               </ul>
            </div>
        </div>
            <br>
   
        </div>
                   </div>
                   <a   href="https://github.com/vishnuraja005/todoevents" target="_blank" title="github account" class="github">
      <div style="text-align: center; margin-top: 20px;">
                    <i class="fa fa-github" style="display: inline; color: white; margin: auto;"></i>  
                    </a>
                </div>
                </div>
    </body>
    <script src = "main.js"></script>
</html>